{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8"/>
<link rel="shortcut icon" type="../../static/image/x-icon" href="../../static/image/favicon.ico" />
<link rel="stylesheet"  href="..\..\static\bootstrap\css\base.css">
<link rel="stylesheet" href="..\..\static\bootstrap\css\bootstrap.min.css">
<link rel="stylesheet" href="..\..\static\bootstrap\css\bootstrap1.min.css">
</head>
<body>
	<div class="container k">
		<div container-fluid bg-light navbar-fixed-top my_top_navbar_div">
		{% include 'top-navbar.html' %}
		</div>
	</div>
</body>
</html>