
<!DOCTYPE html>
<html>
<head>
	<title>Green Chilli Restaurent</title>
	<meta charset="utf-8"/>
  <link rel="shortcut icon" type="../../../static/image/x-icon" href="../../../static/image/favicon.ico" /> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
<body>
</head>
<body>
	<div style="margin-top: 15%;">
		<div class="text-center" style="text-align:center; ">
			<br>
			<br>
			<h1 class="text-center my_title" style="text-align:center;">
				Thanks for placing your order
			</h1>
			<br>
			<br>
    
			<p>Your order number is:<b>{{ customer_order.id }}</b></p>
			<br>
			<p>
				We have received your order and will begin processing right away. For your records an email confirmation has been sent to you.
				It contains details of the items you purchased.
			</p>
		</div>
	</div>
	<br>
	<br>
  <a href="../../../main" class="btn btn-success btn-block" style="margin-top: 5px;">Continue Shopping</a>
</body>
<footer style="color:white;background-color: black;bottom:fixed;margin-top:250px;height: 2%; ">
  <p class="text-center"  ;">Contact us | This is me.</p>
</footer>
</html>
	
