<div class="container">
	<div class="l">
		<ul>
			
			<li>
				Welcome,<a href="{% url 'order:order_history' %}" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{request.user.first_name}}<i class="fas fa-user-circle"></i></a>
				<div class="dropdown-menu dropdown-menu-right">
					<a href="{% url 'order:order_history' %}" class="dropdown-item"> Order History</a>
				</div>
			</li>
			<li>
				<a href="">Sign out <i class="fas fa-sign-out-alt"></i></a>
			</li>
			
			
		</ul>
	</div>
</div>